@page
@model ButtonModel

<portlet title="Buttons" is-fit="true">
    <div class="clearfix">
        <h4 class="block">Default Bootstrap Buttons(Customized to Match Theme Style)</h4>
        <button>Default</button>
        <button theme="Primary">Primary</button>
        <button theme="Success">Success</button>
        <button theme="Info">Info</button>
        <button theme="Warning">Warning</button>
        <button theme="Danger">Danger</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Metronic Custom Buttons</h4>
        <button color="Default">Default</button>
        <button color="Red">Red</button>
        <button color="Blue">Blue</button>
        <button color="Green">Green</button>
        <button color="Yellow">Yellow</button>
        <button color="Purple">Purple</button>
        <button color="Dark">Dark</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Metronic Outline Buttons</h4>
        <button is-outline="true" color="Default">Default</button>
        <button is-outline="true" color="Red">Red</button>
        <button is-outline="true" color="Blue">Blue</button>
        <button is-outline="true" color="Green">Green</button>
        <button is-outline="true" color="Yellow">Yellow</button>
        <button is-outline="true" color="Purple">Purple</button>
        <button is-outline="true" color="Dark">Dark</button>
    </div>
    <div class="clearfix">
        <h4 class="block">More Button Colors</h4>
        <button color="BlueHoki">Blue Hoki</button>
        <button color="BlueMadison">Blue Madison</button>
        <button color="GreenMeadow">Green Meadow</button>
        <button color="RedSunglo">Red Sunglo</button>
        <button color="YellowCrusta">Yellow Crusta</button>
        <button color="PurplePlum">Purple Plum</button>
        <button color="GreyCascade">Grey Cascade</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Button Stripe</h4>
        <button is-stripe="true" color="Red">Red</button>
        <button is-stripe="true" color="Blue">Blue</button>
        <button is-stripe="true" color="Green">Green</button>
        <button is-stripe="true" color="Yellow">Yellow</button>
        <button is-stripe="true" color="Purple">Purple</button>
        <button is-stripe="true" color="Dark">Dark</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Disabled</h4>
        <button is-disabled="true" color="Red">Red</button>
        <button is-disabled="true" color="Blue">Blue</button>
        <button is-disabled="true" color="Green">Green</button>
        <button is-disabled="true" color="Yellow">Yellow</button>
        <button is-disabled="true" color="Purple">Purple</button>
        <button is-disabled="true" color="Dark">Dark</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Button Sizes</h4>
        <button color="Default" size="Lg">Large button</button>
        <button color="Red">Default button</button>
        <button color="Blue" size="Sm">Small button</button>
        <button color="Green" size="Xs">Extra small button</button>
    </div>
    <div class="clearfix">
        <h4 class="block">Block Buttons Full Width</h4>
        <button is-outline="true" is-full-width="true" color="Default">Default</button>
        <button is-outline="true" is-full-width="true" color="Red">Red</button>
        <button is-outline="true" is-full-width="true" color="Blue">Blue</button>
        <button is-outline="true" is-full-width="true" color="Green">Green</button>
        <button is-outline="true" is-full-width="true" color="Yellow">Yellow</button>
        <button is-outline="true" is-full-width="true" color="Purple">Purple</button>
        <button is-outline="true" is-full-width="true" color="Dark">Dark</button>
    </div>
</portlet>  
    
@section Styles{ 
<style>
    .button {
        margin-bottom: 5px;
    }
</style>    
}