@page
@model WellModel

<portlet title="Wells" is-fit="true">
    <well size="Lg">
        <h4 class="block">I am a large well</h4>
        <p> Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. </p>
    </well>

    <well>
        <h4 class="block">I am a default well</h4>
        <p> Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. </p>
    </well>

    <well size="Sm">
        <h4 class="block">I am a small well</h4>
        <p> Tight pants next level keffiyeh trigger me on click haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. </p>
    </well>
</portlet>